body,
html {
    margin: 0;
    padding: 0;
}

.top-menu-container {
    width: 100%;
    background-color: rgb(5, 11, 94);
    color: white;
    justify-content: space-between;
}

.flex {
    display: flex;
    align-items: center;
}

.category-body-container {
    background-color: #ddd;
    height: 100vh;
}

a {
    text-decoration: none;
    color: black;
}

.category-container {
    max-width: 800px;
    width: 100%;
    border: 1px solid grey;
    margin: 20px auto 0 auto;
    padding: 10px;
    height: 500px;
}

.categories {
    border-right: 1px solid grey;
    margin-right: 10px;
    padding-right: 10px;
}

section {
    height: 100%;
}