{% extends "main.html" %} {% block content %} {% include "header.html" %} {% if category_id != 0 %}
<iframe class="load-category-details" onload="load_items_oncancel()" data-category-name={{category_name}} data-category-id={{category_id}} src="#"></iframe>{% endif %}
<div class="category-container flex" data-logged-in={{logged_in}}>
    <aside class="categories flex-column">
        <h2><a href="{{url_for('show_main')}}">Categories</a></h2>
        <div class="category-list flex-column">
            {% for category in categories %}
            <a class="category" data-id={{category.id}} href="#">{{category.name}}</a> {% endfor %}
        </div>
        <a class="create_category_button button" href="{{url_for('create_category')}}">Create</a>
    </aside>

    <section class="category-details flex-column">
        {% if show_latest_items%}
        <h2 class="category-details-header">Latest Items</h2>
        {% else %}
        <h2 class="category-details-header"></h2>
        {% endif %}
        <div class="latest-item-list flex-column">
            {% if category_id == 0 %} {% for item in items%}
            <a href="{{url_for('show_category_item', category_id=item.category.id, item_id=item.id)}}">{{item.name}} <i>({{item.category.name}})</i></a> {% endfor %}{% endif %}
        </div>
        <div class="item-per-category"></div>
        <div class="modify_item_buttons"></div>
    </section>

</div>
{% include "footer.html" %}{% endblock %}