{% extends "main.html" %} {% block content %} {% include "header.html" %}
<div class="category-container item-details" data-logged-in={{logged_in}}>
    <section class="item-container">
        <h2>{{item.name}}</h2>
        <div class="item-details-container flex">
            <div class="item-details-1">
                <img src="\static\images\macbook-pro.jpg">
            </div>
            <div class="item-details-2">
                <p class="item-description">{{item.description}}</p>
                <br>
                <a class="button" href="{{url_for('show_main', category_id=category_id)}}">Back</a>
            </div>
        </div>
    </section>
</div>
{% include "footer.html" %}{% endblock %}