{% extends "main.html" %} {% block content %} {% include "header.html" %}
<div class="category-container" data-logged-in={{logged_in}}>
    <section class="item-container">
        <h2>{{item.name}}</h2>
        <form method="post" id="create_or_edit_category_item" enctype="multipart/form-data">
            <label for="item_name">Name:</label>
            <input id="item_name" value="{{item.name}}" name="item-name" type="text" maxlength="80"><br><br>
            <label for="item_description">Description:</label><br><br>
            <textarea id="item_description" rows="5" name="item-description" maxlength="1000">{{item.description}}</textarea><br><br>
            <label for="item-category">Category List:</label>
            <select name="item-category" id="item-category">
                {% for category in categories %}
                <option {% if category_id == category.id%}selected{% endif %} value="{{category.id}}">{{category.name}}</option>
                {% endfor %}
            </select><br><br>
            <label for="item-image">Update image:</label>
            <input type=file name="item-image" id="item-image"><br><br>
            <input class="button" type="submit" value="Edit">
            <a class="button" href="{{url_for('show_category_item', category_id=category_id, item_id=item.id)}}">Cancel</a>
        </form>
    </section>
</div>
{% include "footer.html" %}{% endblock %}