<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div class="category-body-container ">
        {% block content %} {% endblock %}
        <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
        <script src="{{url_for('static',filename='js/category.js')}}"></script>
        <script src="https://apis.google.com/js/client:platform.js?onload=start"></script>
    </div>
</body>

</html>